.container_resident{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
form, h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
